.subscribers {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.subscribers-tabs button {
  flex-grow: 1;
  max-width: unset;
}

.subscribers-progress-bar {
  position: absolute !important;
  bottom: 0;
  width: 100% !important;
}
