.subscribers {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0;
}

.subscribers-tabs button {
  flex-grow: 1;
  max-width: unset;
}

.subscribers-progress-bar {
  position: absolute !important;
  bottom: -4px;
  width: 100% !important;
}

.subscribers-table-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.search-application,
.subscribers-table-wrapper form,
.table-container,
.statistics-table-container {
}

.search-application {
  grid-column: 1 / -1;
}

.table-container,
.statistics-table-container {
  max-height: 700px;
}

.statistics-table-container {
  max-height: 535px;
}

.table-container thead th,
.statistics-table-container thead th {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

@media (min-width: 720px) {
  .subscribers-table-wrapper {
    grid-template-columns: minmax(350px, 380px) 1fr;
  }
  
  .subscribers-table-wrapper form {
    grid-column: 1 / 2;
  }
  
  .statistics-table-container {
    grid-column: 2 / 3;
  }
  
  .search-application,
  .table-container {
    grid-column: 1 / -1;
  }
}

@media (max-width: 719px) {
  .subscribers-table-wrapper {
    grid-template-columns: 1fr;
  }
  
  .subscribers-table-wrapper form {
    order: 1;
  }
  
  .statistics-table-container {
    order: 2;
  }
  
  .search-application {
    order: 3;
  }
  
  .table-container {
    order: 4;
  }
}
